<div class="container-fluid">
  <div class="row">
    <ng-container *ngFor="let p of _posts">
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img src="">
          <div class="caption">
            <h3 style="margin-top: 0; color: darkgray">Post {{p.id}}</h3>
            <p style="min-height: 40px; overflow-y: auto">
              {{p.title}}
            </p>
            <p>
              <a routerLink="/posts/{{p.id}}" class="btn btn-primary" role="button">View Full Post</a>
            </p>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
